# ══════════════════════════════════════════
#  Hariram Motors API — Environment Config
# ══════════════════════════════════════════

# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/hariram_motor

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=drjww3vyq
CLOUDINARY_API_KEY=c187858739337927
CLOUDINARY_API_SECRET=cloudinary://689427419937935:Rmiz2YtZHdRHc_DOubUFyB8WJZU@dg2aajesb

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000

# Admin Seed (first run)
ADMIN_EMAIL=admin@harimotors.com
ADMIN_PASSWORD=admin123456
